- if (req.isAuthenticated() && req.user.current_group)
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation',ng-controller="MenuCtrl",ng-cloak='ng-cloak')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span.navbar-brand()
          img#brand-logo(src='/images/logo-'+locale+'.svg') 
          span #{__('lacoloc')}
      //
         User menu 
      .btn-group.pull-right(style='margin-left: 15px;')
       
      //
         group menu 
      .btn-group.pull-right
        

      //
         app menu 
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.expenses-link
            a(href='/#/expenses')
              i.icon-bars
              | &nbsp;#{__('Expenses')}
          li.shopping-link
            a(href='/#/shopping')
              i.icon-basket
              | &nbsp;#{__('Shopping')}
        ul.nav.navbar-nav.navbar-right
          li.dropdown(dropdown)
            a.btn.btn-default.dropdown-toggle(dropdown-toggle)
              i.icon-home
              | {{user.current_group.name}} 
              b.caret
            ul.dropdown-menu
              li
                a(ng-click="openModal('/groups/"+req.user.current_group.id+"')",title="#{__('Profile')}")
                  | #{__('Profile')}
              if (req.user.groups && req.user.groups.length > 1)
                li.divider
                li
                  b &nbsp; #{__('Choose a coloc')} :

                each group in req.user.groups
                  li
                    if (group.group.id == req.user.current_group.id)
                      a(href='#')
                        i.glyphicon.glyphicon-ok 
                        | &nbsp; #{group.group.name}
                    else
                      a(href='/groups/'+group.group.id+'/select')
                        i 
                        | &nbsp; #{group.group.name}
              li.divider
              li
                a(href='/#/groups/new')
                  i.glyphicon.glyphicon-plus
                  | &nbsp;#{__('New coloc')}
          li.dropdown.menu-user-infos(dropdown)
            a.btn.btn-default.dropdown-toggle(dropdown-toggle)
              .pp.pp-small(style="background-image: url('{{user.picture}}');margin-left:1px;",ng-if="user.picture")
              | &nbsp;{{user.name}}
              b.caret
            ul.dropdown-menu
              li
                a(href="/users/"+req.user.id, title="#{__('Profile')}") #{__('Profile')}
              li.divider
              li
                a(href="/logout", title="logout") #{__('Logout')}


