head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  meta(env="#{env}")

  title=__("lacoloc")
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=__('site_keywords'))
  meta(name="description", content=__('site_description'))

  link(href="/images/favicon_"+locale+".png", rel="shortcut icon", type="image/png")
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='/images/apple-touch-icon-57-precomposed.png')
  
  - if (fb)
    meta(property="fb:app_id", content=fb.clientID)
    meta(property="og:title", content=title)
    meta(property="og:description", content=__('site_description'))
    meta(property="og:url", content=url)
    meta(property="og:image", content=url+'/images/logo_'+locale+'_1024.png')
    meta(property="og:site_name", content=title)
    //meta(property="fb:admins", content="??")

  //
     Styles
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
  link(rel="stylesheet", href="/stylesheets/tipTip.css")
  link(rel="stylesheet", href="/stylesheets/zocial.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
- if (!req.isAuthenticated())
  link(rel="stylesheet", href="/stylesheets/login.css")
- if (isActive('/shopping'))
  link(rel="stylesheet", href="/stylesheets/shopping.css")  

  //
     HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
