- if (req.isAuthenticated() && req.user.current_group)
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation',ng-controller="MenuCtrl",ng-cloak='ng-cloak')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.navbar-brand()
                    img#brand-logo(src='/images/logo-'+locale+'.svg') 
                    span #{__('lacoloc')}
            //
                User menu 
            .btn-group.pull-right(style='margin-left: 15px;')

            //
                group menu 
            .btn-group.pull-right

            //
                app menu 
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.expenses-link
                        a(ui-sref='expenses')
                            i.icon-bars
                            | &nbsp;#{__('Expenses')}
                    li.shopping-link
                        a(ui-sref='shopping')
                            i.icon-basket
                            | &nbsp;#{__('Shopping')}
                ul.nav.navbar-nav.navbar-right
                    li.dropdown(uib-dropdown)
                        a.btn.btn-default.dropdown-toggle(uib-dropdown-toggle)
                            i.icon-home
                            | {{user.current_group.name}} 
                            b.caret
                        ul.dropdown-menu
                            li
                                a(ng-click="openModal('/groups/'+user.current_group._id+'/1', 'GroupCtrl')",title="#{__('Edit')}")
                                    i.glyphicon.glyphicon-edit
                                    | #{__('Edit')} {{user.current_group.name}} 
                            li.divider(ng-if="user.groups.length > 1")
                            li(ng-if="user.groups.length > 1")
                                b &nbsp; #{__('Choose a coloc')} :
                            li(ng-repeat="cgroup in user.groups", ng-if="user.groups.length > 1")
                                a(href='#',ng-if="cgroup._id == user.current_group._id")
                                    i.glyphicon.glyphicon-ok 
                                    | &nbsp; {{cgroup.group.name}}
                                a(href='/groups/{{cgroup._id}}/select',ng-if="cgroup._id != user.current_group._id")
                                    i 
                                    | &nbsp; {{cgroup.group.name}}
                            li.divider
                            li
                                a(ng-click="openModal('/groups/new/1')")
                                    i.glyphicon.glyphicon-plus
                                    | &nbsp;#{__('New coloc')}
                    li.dropdown.menu-user-infos(uib-dropdown)
                        a.btn.btn-default.dropdown-toggle(uib-dropdown-toggle)
                            .pp.pp-small(style="background-image: url('{{user.picture}}');margin-left:1px;",ng-if="user.picture")
                            | &nbsp;{{user.name}}
                            b.caret
                        ul.dropdown-menu
                            li
                                a(ng-click="openModal('/users/{{user._id}}', 'UserCtrl')", title="#{__('Profile')}") #{__('Profile')}
                            li.divider
                            li
                                a(href="/logout", title="logout") #{__('Logout')}
