script(type="text/ng-template",id="expensesTemplate.html")
  .row
    .col-md-9.col-md-push-3
      section#expenseapp
          header#header
              h2.app_title #{__('Expense list')}
              #expense-add-panel.row.well.col-sm-8.col-sm-offset-2
                form#expense-form.form-inline(ng-submit='addExpense()',name="addexpenseform")
                  .form-group.first-div.col-xs-6.col-sm-8
                    input#new-expense-title.form-control(placeholder='#{__("Title")}', ng-model='newExpenseTitle', autofocus='autofocus',required='required')
                  .form-group.col-xs-6.col-sm-4
                    .input-group
                      input#new-expense-value.form-control(placeholder='#{__("Value")}', ng-model='newExpenseValue',required='required',ng-pattern="/^([1-9][0-9]*|0)((\.|,)[0-9]+)?$/")
                      span.input-group-addon €
                  .form-group.second-line.first-div.col-xs-6.col-sm-3
                    input#new-expense-date.form-control.datepicker.current_date(type="text",placeholder='#{__("Date")}', ng-model='newExpenseDate',datetimez='',required='required',datepicker-popup="{{format}}")
                  .form-group.second-line.first-div.col-xs-6.col-sm-5
                    select#new-expense-who.form-control.custom-select(custom-select)
                  .form-group.second-line.col-xs-6.col-sm-4
                    button.btn.btn-primary(type="submit",style="width:100%") #{__('Add')}
            section#dep_wrapper(ng-show='expenses.length', ng-cloak='ng-cloak')
              #expense-list
                .user-list(ng-repeat='expense in expenses')
                  .view
                    label 
                  table.table
                    thead
                      tr
                        th(colspan="5")
                          | {{expense.user.name}}
                          span#balance1.pull-right
                            | {{expense.total}} {{user.current_group.devise}}
                            span(style='margin-left: 40px; color: green;',ng-show="expense.diff > 0") {{expense.diff}} {{user.current_group.devise}}
                            span(style='margin-left: 40px; color: red;',ng-show="expense.diff < 0") {{expense.diff}} {{user.current_group.devise}}
                    tbody
                      tr(ng-repeat='item in expense.items')
                        td(width="200")
                          span {{item.title}}
                        td(width="200")
                          span {{item.date | date:'#{angular_date_format}'}}
                        td(width="200")
                          span {{item.value}} {{user.current_group.devise}}
                        td
                          .hidden
                              ul(id="destspopover{{item._id}}")
                                li(ng-repeat='dest in item.dest') 
                                  input(type="checkbox",checked="checked",ng-click='toggleDest(dest)') 
                                  | {{dest.name}}
                          button.btn.btn-link(type="button",rel="popover",data-toggle="popover",data-placement="bottom",data-itemid="{{item._id}}")
                            i.glyphicon.glyphicon-user
                          span(style="font-size: 10px;margin-left: -15px;") &nbsp;{{item.dest.length}}
                        td
                          .pull-right(ng-show='expense.is_current_user')
                              a.pointer(ng-click='removeExpense(item)') #{__('Delete')}

    .col-md-3.col-md-pull-9
        .panel.left-menu
            a#new-list-button.btn.btn-primary(href='#',style="width: 100%;",need-confirmation)
                i.glyphicon.glyphicon-plus
                | &nbsp;#{__("New list")}
            div#new-list-button-confirmation.confirmation-panel.hidden
              span #{__("Do you really want to archive this list and create a new one ?")}
              a.btn.btn-success(href='/expenses/new',style="width: 50%;" )
                i.icon-checkmark
                | &nbsp;#{__("Yes")}
              a.btn.btn-warning(href='#',style="width: 50%;",need-confirmation)
                i.icon-close
                | &nbsp;#{__("No")}
            h5(style="text-align:center;font-weight:600;") &nbsp;#{__("Total")}: {{grandTotal}} {{user.current_group.devise}}
            section(ng-show='owes.length', ng-cloak='ng-cloak')
              h5 &nbsp;#{__("To repay")}:
              p(ng-repeat='owe in owes') {{owe.from.name}} #{__('owes to')} {{owe.to.name}} {{owe.val}} {{user.current_group.devise}}
            
            section(ng-show='archives.length', ng-cloak='ng-cloak')
              h5 &nbsp;#{__("Finished")}:
              .list-group
                ul
                  li.archive.list-group-item(ng-repeat='archive in archives') {{ archive.archivedAt | date:'mediumDate'}}

