extends ../layouts/default

block main
  h1= group.name

block content
  .row
    .col-md-8
      p #{__('Group created at')} #{formatDate(group.createdAt)}
      include edit
      block groupform

  .row
    h2 #{__('Users of the group')}
      button.btn.btn-mini(data-toggle="modal",data-target="#inviteModal") 
        i.glyphicon.glyphicon-plus
        | #{__('Add')}
  .row
    each cuser in group.users
      .col-sm-6.col-md-4
        .thumbnail
          img(src='https://www.gravatar.com/avatar/'+email_hashes[cuser._id]+'?d=identicon', alt='')
          .caption
            h3 #{cuser.name}
            p #{cuser.email}
            p
              - if (cuser._id != current_user_id+'')
                a.btn.btn-danger(href='/groups/'+group._id+'/removeUser?user_to_remove='+cuser._id, role='button') #{__('Remove from group')}

  #inviteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='inviteModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#inviteModalLabel.modal-title #{__('Invite users')}
          .modal-body
            form(method="post", action="/invite/send", enctype="multipart/form-data", role="form",ng-non-bindable)
              input(type="hidden", name="_csrf", value="#{csrf_token}")
              label(for="inviteemail") #{__("Invite someone to your coloc with an email")}:
              br
              input#inviteemail.form-control(type="email",name="email",placeholder="#{__('email')}")
              p #{__('An email will be sent to the user with an invitation')}
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') #{__('Cancel')}
            button.btn.btn-primary(type='button',onclick="app.sendInvitation();") #{__('Send invitation')}
