script(type="text/ng-template",id="shoppingTemplate.html")
  .row
    .col-md-9.col-md-push-3
      section#shoppingapp
        header#header
            h2.app_title #{__('Shopping list')}
            form#shopping-form(ng-submit='addShopping()')
              input#new-shopping(placeholder='#{__("Add an item to the list")}', ng-model='newShopping', autofocus='autofocus', ng-hide='readonly')
              button.btn.btn-primary(type="submit",ng-show='newShopping.length',ng-cloak='ng-cloak')
                i.glyphicon.glyphicon-plus
          section#main(ng-show='shoppings.length', ng-cloak='ng-cloak')
            ul#shopping-list
              li(ng-repeat='shopping in shoppings | filter:shoppingFilter | orderBy:(orderBy=="date"?"createdAt":"title"):(orderBy=="date"?true:false)', ng-class='{completed: shopping.completed, editing: shopping == editedShopping}')
                .view
                  input.toggle(type='checkbox', ng-model='shopping.completed', ng-change='shoppingCompleted(shopping)', ng-disabled="readonly || shopping.deletedAt", ng-if="!shopping.deletedAt", style="cursor:pointer;")
                  label(ng-click='editShopping(shopping)',shoppingfocusinput='', ng-class="{deleted: shopping.deletedAt}") {{shopping.title}}{{shopping.deletedAt ? ' (#{__("Deleted")})' : ''}}
                form(ng-submit='doneEditing(shopping)')
                  input.edit(ng-trim='false', ng-model='shopping.title', ng-blur='doneEditing(shopping)', shopping-escape='revertEditing(shopping)', shopping-focus='shopping == editedShopping')

    .col-md-3.col-md-pull-9
      .panel.left-menu.shopping-menu
        a#new-list-button.btn.btn-primary(href='#',style="width: 100%;",, ng-if="!readonly" ,need-confirmation)
              i.glyphicon.glyphicon-plus
              | &nbsp;#{__("New list")}
          div#new-list-button-confirmation.confirmation-panel.hidden
            span #{__("Do you really want to archive this list and create a new one ?")}
            span.sub #{__("You will not be able to restore the archived list.")}
            a.btn.btn-success(ng-click="doArchive()",style="width: 50%;",need-confirmation)
              i.icon-checkmark
              | &nbsp;#{__("Yes")}
            a.btn.btn-warning(href='#',style="width: 50%;",need-confirmation)
              i.icon-close
              | &nbsp;#{__("No")}
        button.btn.btn-primary(ng-click='hideArchive()',style="width: 100%;", ng-if="readonly" )
          i.glyphicon.glyphicon-triangle-top
          | &nbsp;#{__("Back to current list")}
        
        h5(ng-show='archives.length') &nbsp;#{__("Finished")}
        .list-group
          ul
            li.archive.list-group-item(ng-repeat='archive in archives', ng-click='showArchive(archive)', ng-class="{active: archive.current}") {{ archive.archivedAt | date:'mediumDate'}}
              span.badge {{ archive.items.length }}
        h5 &nbsp;#{__("Display")}
        .list-group
          ul
            li.list-group-item(ng-click="displayDeleted=!displayDeleted", style="cursor:pointer;")
              input#displayDeleted(type='checkbox',ng-model="displayDeleted",ng-click="displayDeleted=!displayDeleted" ) 
              | #{__("Display deleted rows")}
            li.list-group-item(ng-click="displayFinished=!displayFinished", style="cursor:pointer;")
              input#displayFinished(type='checkbox',ng-model="displayFinished",ng-click="displayFinished=!displayFinished") 
              | #{__("Display finished rows")}
            li.list-group-item 
              p #{__("Order by")}
                div.btn-group(role="group")
                  button.btn.btn-default(type="button",ng-class="{active:orderBy=='date'}",ng-click="orderBy='date'") #{__("Date")}
                  button.btn.btn-default(type="button",ng-class="{active:orderBy=='name'}",ng-click="orderBy='name'") #{__("Name")}
  