extends ../layouts/default

block container
      .row(style="margin-top:100px;")
        .col-sm-5.col-md-5
          center
            img.main_logo.smooth(src='/images/logo_lacoloc_160.png')
          div(style='margin-top: 20px;')
            span
              | #{__("catchline_full")}
            .div_title.tipTip(style='font-variant: normal; top: auto; font-size: 28px; cursor: pointer;', title='α : lacoloc.fr est en cours de développement (Alpha). Vous pouvez néanmoins vous faire inviter pour tester l\'application via Twitter: @LaColoc_fr') α
        .col-sm-5.col-md-5
          .div_title #{__("lacoloc")}
          .well(style='opacity: 1; position: relative;')
            form#login_form.form-horizontal(action="/users/session", method="post", role="form")
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                input#input_login.input-xlarge.form-control(type='text', name='email', placeholder='#{__("Email address")}')
                input#input_password.input-large.form-control(type='password', name='password', placeholder='#{__("Password")}', onkeyup="if(event.keyCode==13) $(this).parents('form').submit();")
                .semi-inline-form-part
                  button.btn.btn-default.btn-lg(type='submit', style='') #{__('Log in')}
          .well-divider #{__('or')}
          .well.smooth
            center
              a.zocial.twitter(href='/auth/twitter')
                span #{__('Log in with')}  
                | Twitter
              a.zocial.facebook(href='/auth/facebook')
                span #{__('Log in with')}   
                | Facebook
              a.zocial.googleplus(href='/auth/google')
                span #{__('Log in with')} 
                | Google+
          .well-divider #{__('or')}
          .well.smooth.signup_div
            div(style='margin-bottom: 10px;') #{__("New on lacoloc ?")}
            .form-group
            form#login_form.form-horizontal(action="/users", method="post", role="form")
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                input#signup_name.input-small.form-control(type='text', name='name', placeholder='#{__("Full name")}', value=user.name)
                input#signup_email.input-xlarge.form-control(type='text', name='email', placeholder='#{__("Email address")}', value=user.email)
                input#signup_password.input-xlarge.form-control(type='password', name='password', placeholder='#{__("Password")}')
                button.btn.btn-primary.pull-right(type='submit', style='margin-right: 0;') #{__("Sign up")}