form.form-horizontal(role="form", ng-submit="processForm('"+action+"',"+(group.isNew?"true":"false")+")")

    input(type="hidden", ng-model="formData._csrf", ng-init="formData._csrf='#{csrf_token}'")

    .form-group
        label.col-sm-2.control-label(for='name') #{__("Name")}
        .col-sm-10
            input.form-control#title(type='text', placeholder='#{__("Enter the name")}', ng-model="formData.name", ng-init="formData.name='"+group.name+"'")

    .form-group
        label.col-sm-2.control-label(for='desc') #{__("Description")}
        .col-sm-10
            textarea.form-control#desc(rows="5", placeholder='#{__("Enter the description")}', ng-model="formData.description", ng-init="formData.description='"+group.description+"'")

    if !isModal
        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') #{__("Save")}
